
body{
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif ;
}

.top{
    position: relative;
    background-color: #E4F9F5;
    padding-top: 100px;
}


.mid{
    margin: 100px 0;
}

.bottom{
    background-color: #66BFBF;
}

.profile{
    margin-bottom: 10 px;
}

h1{
    margin: 20 auto 0 auto;
    font-family: 'Sacramento';
    font-size: 4rem;
    color: #66BFBF;
    line-height: 1;
}

hr{
    border-color: grey;
    border-style:  none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px;
    width:50px;
}

h2{
    
    font-size: 1.5rem;
    color: #66BFBF;
    font-weight: bold;
}

h3{
    color: #11999E;
}

.botcloud{
    position: absolute;
    left: 80px;
}

.topcloud{
    position: absolute;
    right: 80px;
}

.sam{
    width: 200px;
}

.footer-link{
    color: #11999E;
}

.html{
    width: 250px;
    
}

.skill-row{
    margin: auto;
    width: 50%;
}
.javaa{
    width: 150px;
}

.cppp{
    
        width: 120px;
    }

.conmsg{
    width: 40%;
    margin: 30px auto 40px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
    background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .logo{
    width: 55px;
  }
  